<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
  </script>
  </head>
  <body>
    <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
    
    <div id="dataAccess1" style="display: none;"><%=status.notsetcount%></div>
    <div id="dataAccess2" style="display: none;"><%=status.readyfordevcount%></div>
    <div id="dataAccess3" style="display: none;"><%=status.inprogresscount%></div>
    <div id="dataAccess4" style="display: none;"><%=status.testingcount%></div>
    <div id="dataAccess5" style="display: none;"><%=status.finishedcount%></div>
     <script>
    var count1 = JSON.parse($('#dataAccess1').html());
    var count2 = JSON.parse($('#dataAccess2').html());
    var count3 = JSON.parse($('#dataAccess3').html());
    var count4 = JSON.parse($('#dataAccess4').html());
    var count5 = JSON.parse($('#dataAccess5').html());
    //alert(count1);

    $(function () {
    console.log(Highcharts);    
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            type: 'bar'
        },
        title: {
            text: 'Project Status'
        },
        xAxis: {
            categories: ['Finished','Testing','In progress','Ready for Dev','Not Set']
            
        },
        yAxis: {
            min: 0,
           allowDecimals : false,
           plotLines:[{
                color: '#FF0000',
                width: 2,
                value: 2,
                label: {
                    text: 'Threshold Limit',
                    style: {
                        color: 'blue',
                        fontWeight: 'bold'
                        }
                }
                }],
            title: {
                text: 'No. of cards'
            }
        },
        legend: {
            reversed: true
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: [{
            name: 'card',
            data: [count5, count4, count3, count2, count1]
        }]
    });
}); </script>
  </body>
</html>